#cover {
	position:fixed;
	padding:0;
	margin:0;

	top:0;
	left:0;
	right: 0;
	bottom: 0;

	width: 100%;
	height: 100%;
		
	opacity: 0.80;
	background: #aaa !important;
	z-index: 10;
	display: none;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

table.sortable > tbody > tr > td {
	padding-left: 10px;
}