{% extends "layout.html" %}
{% block head %}
   <title>Sending</title>
{% endblock %}
{% block content %}
    {% csrf_token %}
    Date: <input type="text" id="datepicker" onchange="load_send()">
    <button onclick="find_mails_again()">Run whois scipt again</button>
    <button onclick="select_all()">Select all</button>
    <button onclick="un_select_all()">Unselect all</button>
    <button onclick="blacklist_selected()">Blacklist</button>    
    <select id="filter_by_dom" onclick="filter_by_dom()">
      <option value="">-All-</option>
      <option value=".com">.COM</option>
      <option value=".net">.NET</option>
    </select>
    <a href="/download/" target="_blank">
      <button>Download!</button>
    </a>
   <table id="mytable" class="sortable" style="margin-left: 1%; width: 70%;">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Dropping domain</th>
          <th>Mark to send</th>
          <th>Zone file domain</th>
          <th>Registrant mail</th>
          <th>Blacklist</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in raw_leads %}
        <tr>     
          <td>{{forloop.counter}}</td>     
          <td class="redemption">{{entry.name_redemption}}</td> 
          {% if entry.mark_to_send %}
            <td><input type="checkbox" class="prim" checked onclick="mark_to_send('{{entry.id}}')" />
           {% else %}
            <td><input type="checkbox" class="prim" onclick="mark_to_send('{{entry.id}}')" /></td>
          {% endif %}                 
          <td>
            <a href="http://{{entry.name_zone}}" target="_blank">{{entry.name_zone}}</a>
          </td>       
          <td id="mail_field_{{entry.id}}">
            {%if entry.mail %}
                {{entry.mail}}<button onclick="rem_mail({{entry.id}}, '{entry.name_zone}}')">Rewrite</button>
            {%else%}
                email not found <input type="text" id="mail_entry_{{entry.id}}"/><button onclick="add_mail_man({{entry.id}}, '{{entry.name_zone}}')">Add</button>
                <a href="http://bgp.he.net/dns/{{entry.name_zone}}#_whois" target="_blank">bgd.he.net</a>
            {%endif%}
          </td>

          {% if entry.blacklist %}
            <td style="background: black; color: white;"><input id="blacklist_{{entry.id}}" type="checkbox" checked onclick="blacklist('{{entry.id}}')" class="blacklist"/>
           {% else %}
            <td style="background: black; color: white;"><input id="blacklist_{{entry.id}}" type="checkbox" onclick="blacklist('{{entry.id}}')" class="blacklist"/></td>
          {% endif %}

          {% if entry.to_delete %}
            <td style="background: red; color: white;" ><input type="checkbox" checked onclick="to_delete('{{entry.id}}')" />
           {% else %}
            <td style="background: red; color: white;" ><input type="checkbox" onclick="to_delete('{{entry.id}}')" /></td>
          {% endif %}     

        </tr>
        {% endfor %}
      </tbody>
    </table>
    <table style="margin-left: 20%; width: 60%;">
      <tbody>
        <tr>
          <td colspan="3" align="center"><input type="button" onclick="send_mails()" value="Submit"/></td>
        </tr>
      </tbody>
    </table>
    <script type="text/javascript">
      $( function() {       
        $('#mytable').DataTable({
          "iDisplayLength": 5000
        });
        $('#mytable_length').css( 'display', 'none' );
        $('#mytable_paginate').css( 'display', 'none' );
        $('#mytable_info').css( 'display', 'none' );
        $('.dataTables_empty').css( 'display', 'none' );      
        var selected_date = (window.location.search).replace('?date=', '').split("-");
        var new_date = new Date(selected_date[2], selected_date[1] - 1, selected_date[0]);
        $( "#datepicker" ).datepicker().datepicker("setDate", new_date);
        $( "#datepicker" ).datepicker("option", "dateFormat", 'dd-mm-yy');
      } );
      $("#Send").addClass('active');
      $("#Base").removeClass();
    </script>
{% endblock %}
