<!DOCTYPE HTML>
<html>
<head>
  <script type="text/javascript" src="/static/js/canvasjs.min.js"></script>
  <script type="text/javascript">
  var total = {{ total|safe }};
  var succeeded = {{ succeeded|safe }};
  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
        title:{
            text: "Multi-Series Line Chart"
        },
        data: [
            {
            totalype: "line",
                dataPoints: total
            },
            {
                type: "line",
                dataPoints: succeeded
            },
        ]
    });

    chart.render();
  }
  </script>
</head>
<body>
  <div id="chartContainer" style="height: 300px; width: 100%;">
  </div>
</body>
</html>
