{% extends "layout.html" %}
{% block head %}
  <script type="text/javascript" src="/static/js/canvasjs.min.js"></script>
  <script type="text/javascript">
  var total = {{ total|safe }};
  var succeeded = {{ succeeded|safe }};
  var total2 = {{ total2|safe }};
  var succeeded2 = {{ succeeded2|safe }};

  window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
        title:{
            text: "Internal Whois Analytics"
        },
        data: [
            {
                totalype: "column",
                dataPoints: total
            },
            {
                type: "column",
                dataPoints: succeeded
            },
        ]
    });
    chart.render();

    var chart2 = new CanvasJS.Chart("chartContainer2",
    {
        title:{
            text: "External Whois Analytics"
        },
        data: [
            {
                totalype: "column",
                dataPoints: total2
            },
            {
                type: "column",
                dataPoints: succeeded2
            },
        ]
    });
    chart2.render();

    $("#Chart").addClass('active');
    $("#Base").removeClass();
  }
  </script>
{% endblock %}
{% block content %}
  <div id="chartContainer" style="height: 300px; width: 100%;"></div>
  <div id="chartContainer2" style="height: 300px; width: 100%;"></div>
{% endblock %}
