{% extends "layout.html" %}
{% block head %}
   <title>ADMIN</title>
{% endblock %}
{% block content %}
    {% csrf_token %}
    <div bgcolor="#D3D3D3">
        Date: <input type="text" id="datepicker" onchange="load_logs()">
        <div>
            {% if log %}
                <p>Number of dropping domains :{{log.number_of_redemption}} out of {{log.number_of_all}}</p>
                <p>Raw Leads: {{total_r}}</p>
                <p>Total Active Leads: {{total_a}}</p>
                <p>Activated on selected date: {{log.number_act}}</p>
                <p>Activated that were acquired on selected date: {{log.number_act_2}}</p>
                <p>Sent on selected date: {{log.number_sent}}</p>
                <p>Sent that were acquired on selected date: {{log.number_sent_2}}</p>
                <p>Script render time [s]: {{log.duration}}</p>
            {% else %}
                <p>No activities for today yet</p>
            {% endif %}
        </div>
    </div>
    <div>
        <button onclick="remove_unwanted()">Cleanse</button>
    </div>
    <div bgcolor="gray">
        <input type="number" placeholder="number of days" id="whois_period" />
        <button onclick="whois_period()">Run whois!</button>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>domains</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for exception in exceptions %}
                    <tr>
                        <td>{{exception.domain}}</td>
                        <td><button onclick="delete_exception({{exception.id}})">Delete</button></td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td><input type="text" id="name_exception" name="name_exception" /></td>
                    <td><button onclick="add_exception()">Add</button></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <script type="text/javascript">
      $( function() {
        var selected_date = (window.location.search).replace('?date=', '').split("-");
        var new_date = new Date(selected_date[2], selected_date[1] - 1, selected_date[0]);
        $( "#datepicker" ).datepicker().datepicker("setDate", new_date);
        $( "#datepicker" ).datepicker("option", "dateFormat", 'dd-mm-yy');
      } );
      $("#ADM").addClass('active');
      $("#Base").removeClass();
    </script>
{% endblock %}
