{% load el_pagination_tags %}
{% lazy_paginate 1000 raw_leads %}
  {% for entry in raw_leads %}
  <tr class="raw_leads_raw{{entry.page}}" id="{{entry.id}}">
    <td>{{forloop.counter|add:offset}}</td>
    <td class="zone"><a href="http://{{entry.name_zone}}" target="_blank">{{entry.name_zone}}</a></td>
    <td>
      <input type="checkbox" id={{entry.id}} class="check_{{entry.page}} r_{{entry.name_redemption}}{{entry.page}}" {% if entry.mark == 1 %} checked {% endif %} onclick="changestate('{{entry.id}}', event)"/>
    </td>
    <td class="sell redemption">
      {{entry.name_redemption}} ||
      <span style="color: green;" onclick="add_this_name('{{entry.name_redemption}}', {{entry.page}})"> Select
      </span> ||
      <span style="color: red;" onclick="rem_this_name('{{entry.name_redemption}}', {{entry.page}})"> Unselect
      </span>
    </td>
  </tr>
  {% endfor %}
  <script type="text/javascript">
    $( document ).ready(function() {
        var count = $(":checkbox:checked").length;
        $("#counter").html(count);
    });
  </script>
{% show_more %}
